* {
    box-sizing: border-box;
  }
  

body
{
    background-color: black;
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

header
{
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 1000;  
}

.titulo
{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal; 
}

.navbar .nav-link, .navbar-brand {
    color: white !important; 
    
}

.nav-link
{
    display: flex; 
    margin: 0;
    padding: 0; 
}

.menu
{
    position: relative;
    left: 15rem;
    justify-content: space-between;
}

.menu:hover
{
    transform: scale(1.1);
}

.inicio:hover,
.registro:hover
{
    color: black;
    background-color: white;
}


.fraseselection::selection, a::selection, .infocontacto::selection
{
    background-color: white;
    color: #000000;
}

br::selection, img::selection, button::selection
{
    background-color: transparent;
}


.donar::selection, .registrado::selection, .heading6::selection,input::selection, .seleccion::selection, select::selection, .descripcion::selection, .contactanos::selection, .derechos::selection
{
    background-color: black !important;
    color: white !important;
}

.container-fluid
{
    border-bottom: 1px white solid;
    padding-bottom: 12px;
}

.frase
{
    color: white;
    font-size: 70px;
    padding-left: 30px;
    padding-bottom: 0;
    padding-top: 60px;
    font-weight: 800;
    display: flex;
    width: 60%;
    height: 50%;
    margin-bottom: 0;
    text-align: center;
    height: 100%;
}

.frase2
{
    display: flex;
    width: 50%;
    color: #c4c1c1;
    padding-left: 100px;
    font-size: 20px;
    text-align: center;
    height: 300px;
}

.imgprincipal
{
    display: flex;
    position: absolute;
    right: 5px;
    top: 140px;
    
    
}

#seccion
{
    background-color: white;
    height: 500px;
    color: black;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.sobrenosotros
{
    font-size: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
}

.tituloseccion
{
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}

.contenedor

{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
}

.quierodonar
{
    color: white;
    padding: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.contact{
    width: 100%;
    height: 150vh;
    background: #000000;
    padding-top: 70px;
  }
  .contact .container{
    width: 100%;
    height: 140vh;
    background: white;
    background: linear-gradient(90deg, white 80%, #8be5d2 20%);
    border-radius: 10px;
  }
  .heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
  }
  .heading6 span{
    color: #8be5d2;
  }
  .contact p{
    font-weight: bold;
    font-size: 13px;
    color: black;
  }
  .contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid;
  }
 
    select option:checked 
{
    background-color: rgb(194, 194, 194);
    color: rgb(0, 0, 0);
}

#contact-btn
{
    width: 200px;
    height: 36px; 
    border: none;
    border-radius: 10px;
    background: #8be5d2;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
#contact-btn:hover
{
    transform: scale(1.1) ;
}



  #col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
  }
  .contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    padding-top: 30px;
  }

.contacto .container
{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo
{
    position: relative;
    bottom: -200px;
    margin-top: -5rem;
    background-color:  #8be5d2;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row
{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion
{
    color: white;
    font-size: 1.2rem;
}

.contacto button
{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25rem 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover
{
    border: 4px solid white;
}

.contacto button:hover i
{
    color: #5cda75;
}
  .footer
{
    min-height: 430px;
}

.footer-logo
{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto
{
    font-size: 20px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 3rem;
    
}

.iconos-redes a
{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes i
{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes a:hover
{
    background-color: white;
    border: 2px solid  #8be5d2;
}

.iconos-redes a:hover i
{
    color: black;

}

.derechos
{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #aeaeae;
}



